/* 
  [font-face]에 대한 정의 
  -  다운받은 폰트에 대한 사항을 브라우저 에게 알려 웹 폰트를 적용.
  - 이 규칙을 사용하면 더 이상 "웹 안전(web-safe)" 글꼴 중 하나를 사용할 필요가 없음.
  - 웹 폰트 사용시 문제점(https://d2.naver.com/helloworld/4969726)
  - 웹 폰트 다운주소는 반드시 소문자로 기재.(대문자 사용시 IE에서 에러가 발생 할 수도 있음)

  [지원 현황]
  Chorme
  TTF/OTF : 4.0
  WOFF : 5.0
  WOFF2 : 36.0
  SVG : 4.0
  EOT : x

  [속성]
  font-family : font 이름 지정(필수)
  src : font 다운 url 주소지정(반드시 소문자로 기재)
  font-stretch : font가 늘어지는 정도(선택)
  font-style :font 스타일 지정(선택)
  font-weight : 굵기 지정(선택)
  unicode-range : font가 지원하는 유니코드 문자 범위 지저(선택, 기본값 :U+0-10FFFF)
   */

/* 이롭게 font */
@font-face {
  font-family: IropkeBatangM;
  src: local(IropkeBatangM),
    url(IropkeBatangM.eot?#iefix) format('embedded-opentype'),
    url(IropkeBatangM.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  /*
    사용할 유니코드의 범위를 정함.
    유니코드 범위 내 사용하는 문자가 없으면
    웹폰트를 다운로드 안함.
   */
  unicode-range: U+0-10FFFF;
}

/* 메르세데스 font */
@font-face {
  font-family: MBK;
  src:url(MBKCorporateS-Light.woff) format('woff');
  font-size: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}