/*
------------------------------------------------------
CSS 예외 선택자(Excptions)
: 일반적으로 선택자는 선택을 하지 않기 위해 사용하지만,
	이 경우에는 선택을 하지 않기 위해서 사용합니다. 
------------------------------------------------------
:is()  {...}
:not() {...}

*/

/*div:not(.outer) p: div는 요소명,(.outer)는 선택자 입니다. outer 에는 다른 부정선택자, 가상 요소를 넣을 수 없습니다.*/
div.outer p{
	color: orange;
}

div:not(.outer) p{
	color: blueviolet;
}

