
/* 가상 클래스 선택자 첫 번 쨰 줄을 굵게 표시 */
/*article p:first-child{
	font-size: 120%;
	font-weight: bold;
}*/
/* :link 아직 방문 하지 않은 링크,
	 :visited 한 번 이상 방문한 사이트*/
a:link,a:visited{
	font-weight: bold;
	color: rebeccapurple;
}
/* :first-line : 첫 번째 줄 가상요소*/
/*article p::first-line{
	font-size: 120%;
	font-weight:bold;
}*/

article p:first-child::first-line{
	font-size: 120%;
	font-weight: bold;

}
/* ::before 앞(전) 요소를 block 요소처럼 표시합니다 따라서 앞 뒤로 줄바꿈 됩니다.  */
.box::before{
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	background-color: rebeccapurple;
	border: 1px soild black;

}
/* after 뒤(후)에 content 추가*/
.box::after{
	content: "▶";
}
a:hover{
	color: hotpink;
}
/* > 자손 선택자  어떠한 태그 바로 아래에 위치한 태그*/
ul > li{
	border-top: 5px solid red;  
}
/* + 인접 형제 선택자  h1 요소의 형제 요소 중에 p를 선택.*/
h1+p{
	font-weight: bold;
	background-color: #333;
	color: #fff;
	padding: .5em;
}




    