code {
  border-radius: 4px;
  padding: 0.2em 0.4em;
  background: #efefef;
	font-family: "courier";
	font-weight: bold;
}

.codetype::before{content: "<";}
.codetype::after{content: ">";}

.sample1{
	width:150px;
	height: 80px;
	background-color: #d2f4ff;
	border: 2px  solid #09c;
}
.sample2{
	width: 60px;
	heght:200px;
	background-color: #fde6ff;
	border: 2px solid #90C;
}