body{
    font-family: TmonMonsori;
    margin-bottom: 120px;
}
.container{
    border: 3px solid #000;;
    position: relative;
}
code{
    background-color: #d7d7d7;
}
p{
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 17px;
}

nav{
    position: absolute;
    left: 0;
    border: solid 1px #66fda3;
    width: 130px;
}
section{
    border: 1px solid #ffb7b7 ;
     margin-left: 130px; 
}
.text{
    background-color: #e4e4e4;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;

}