/*
-------------------------------------------------
형제 선택자(Sibling Selector)
: 물결(~) 기호를 사용하며, 어떤 요소의 형제요소
	선택하는 선택자 입니다.

인접 형제 선택자(Adjacent Sibling Selector)
: 플러스(+) 기호를 사용하며, 어떤 요소의 형제요소
	중 첫번째 요소를 선택합니다.  
- 참고: https://www.codingfactory.net/10791
-------------------------------------------------
*/

h1~p{
	font-weight: bold;
	background-color: #333;
	color: #fff;
	padding: .5em;
}