body{
    font-family: TmonMonsori;
}
h2{
    letter-spacing: 0.2em;
    text-shadow: -3px -3px 2px #66fda3;
}
code{
    background-color: #d7d7d7;
}
p{
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-size: 18px;
}
.static{
    position: static;
}