.wrapper {
    background: black;
    text-align: center;
    width: 360px;
    height: 100px;
    padding: 40px;
    box-sizing: border-box;
    color: blanchedalmond;
  }
  .image-nav-button {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 20px;
    line-height: 1em;
  }
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
  /* focus의 경우 파란색 외곽선 윤곽선을 숨길 수 없다. */
  .image-nav-button:focus {
    outline: none;    
  }
  .image-nav-button:focus-visible {
    outline: 3px solid blanchedalmond;
  }