/* typography */
html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th,tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

/*  table */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #000;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,td {
    padding: 20px;
}

/* table background */
thead,tfoot{
    background: url("../images/silver-2143730_1280.jpg") repeat;
    color:#000;
    text-shadow: 1px 1px 1px #000;

}

thead th, tfoot th, tfoot td{   
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid #000;

}

tbody tr:nth-child(odd){
    background-color: #e4e4e4;
}
tbody tr:nth-child(even){
    background-color: #afafaf;
}

caption{
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    padding: 20px;
    caption-side: bottom;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
}