:root {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
}

body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* [CSS 그리드 레이아웃] */
.grid {
    display: grid;
    grid-gap: 1rem;
    /* grid-template: repeat(2, 10rem) minmax(30rem, auto) /minmax(14rem, auto) repeat(2, 1fr); */
    grid-template-rows: repeat(2, 10rem) minmax(30rem, auto) 10rem;
    grid-template-columns: minmax(14rem, auto) repeat(2, 1fr);
    grid-auto-rows: minmax(10rem, auto);
    grid-auto-columns: 1fr;
    grid-template-areas:
    "header header header"
    "sidebar content1 content2"
    "sidebar content3 content3"
    "footer footer footer";
    width: 82rem;
    height: 80vh;
}

/* 그리드 아이템 위치 설정 */
.header {
    /* grid-area: 1 / 1 / 1 / -1; */
    /* grid-row: 1;
    grid-column: 1 / -1; */
    grid-area: header;

}

.sidebar {
    /* grid-area: 2 / 1 / 4 / 1; */
    /* grid-row: 2 / 4;
    grid-column: 1; */
    grid-area: sidebar;
}

.content-1 {}

.content-2 {}

.content-3 {
    /* grid-area: 3 / 2 / 4 / -1; */
    /* grid-row: 3;
    grid-column: 2 /span 2; */
    grid-area: content3;
}

.footer {
    /* grid-area: -2 / 1 / -1 / -1; */
    /* grid-row: -2;
    grid-column: span 3 / -1; */
    grid-area: footer;
}

/* 그리드 아이템 */

.item {
    /* margin-bottom: 1rem; */
    border: 0.4rem solid currentcolor;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #3573f9;
    transition: all 0.3s ease;
}

.item:hover {
    background: #fcc62e;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}