:root {
    font-size: 10px;
}

body {
    margin: 10rem;
    font-size: 1.6rem;
    line-height: 1.5;
}

body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-line-guide {
    position: relative;
    top: 5rem;
    left: -4rem;
    width: 50rem;
}

/* [CSS 그리드 레이아웃] */
.grid {
    display: grid;
    grid-template: repeat(3, minmax(15rem, auto)) / repeat(3, 15rem);
    grid-auto-rows: 15rem;
    grid-auto-columns: 15rem;
    grid-gap: 1rem;
}

/* 그리드 아이템 위치 설정 */
.item-1 {
    /* 그리드 행 라인 시작 (row start) */
    grid-row-start: 2;
    /* 그리드 행 라인 끝 (row end) */
    grid-row-end: 3;
    /* 그리드 열 라인 시작 (column start) */
    grid-column-start: 2;
    /* 그리드 열 라인 끝 (column end) */
    grid-column-end: 4;
    /* 그리드 행 라인 시작 / 끝 (row) */
    grid-row: 2;
    /* 그리드 열 라인 시작 / 끝 (column) */
    grid-column: 1/4;
    /* 그리드 행,열 라인 시작 / 끝 (area) */
    grid-area: 1 / 1 /span 2 / -2;
   
}

/* 그리드 아이템 */
.item {
    border: 0.4rem solid currentcolor;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    font-size: 3rem;
    color: #3573f9;
    transition: all 0.3s ease;
}

.item:hover {
    background: #fcc62e;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 */

.button.is-toggle-photo {
    user-select: none;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    top: 2rem;
    border: 0;
    border-radius: 4px;
    padding: 1.2rem 1rem 1rem;
    background: #3573f9;
    color: #fff;
    line-height: 1;
}

.button.is-toggle-photo:hover {
    background: #1553d9;
}

.button.is-toggle-photo:focus {
    outline: none;
}

.button.is-toggle-photo:active {
    transform: scale(0.98);
}