body {
  background: #000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
h1{
  text-decoration-line: underline;
}
.flex-container{
  display: flex;
  width: 250px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px #d9d9d9;
}
.container{
  display: flex;
  width:500px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.container.row{
  flex-direction: row;
}
.container.reverse{
  flex-direction: row-reverse;
}
.container.column{
  width: 80px;
  flex-direction:column;
}
.container.column-reverse{
  width: 80px;
  flex-direction: column-reverse;
}
.flex-container.nowrap {
  flex-wrap: nowrap;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

.flex-container.reverse {
  flex-wrap: wrap-reverse;
}

/* [flex-shrink] : 기본값은 1이며 width 속성이 있어도 부모영역 자동으로 맞춰진다.
   값이 0 일 경우는 늘어난다.*/
.flex-item {
  /*flex-grow:1;
     flex-shrink:0; 
     width:70px; */
  /* flex :grow shrink basis */
  flex: 0 0 80px;
  height: 50px;
  margin-bottom: 1px;
  line-height: 1;
  font-size: 2em;
  text-align: center;
  color: #fff;
}
.item{
   flex: 0 1 60px; 
   height:50px;
  margin-bottom:1px;
  line-height:1;
  font-size:2em;
  text-align:center;
  color:#fff;
}

/*[flex-grow]: 기본값 0이며, 성장한다는 의미로 값을 1로 지정하면 부모 영역의 width 값에 맞춰서 자동으로 늘어난다.  */

.flex-item:nth-child(1) {background: #d9727b;}
.flex-item:nth-child(2) {background: #735454;}
.flex-item:nth-child(3) {background: #342c40;}
.flex-item:nth-child(4) {background: #f2ad94;}
.flex-item:nth-child(5) {background: #f2d0c4;}

.item:nth-child(1) { background: #d9727b; }
.item:nth-child(2) { background: #735454; }
.item:nth-child(3) { background: #342c40; }
.item:nth-child(4) { background: #f2ad94; }
.item:nth-child(5) { background: #f2d0c4; }


